* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  color: #fff7ed;
  font-family: "Roboto", sans-serif;
  padding: 48px 64px;
}

.hidden {
  display: none !important;
}

/* MAIN LAYOUT */
#root {
  max-width: 1500px;
  margin: 0 auto;
}

.header {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fact-form {
  background-color: #57534e;
  margin-bottom: 40px;
  padding: 16px 48px;
  display: flex;
  align-items: center;
  gap: 16px;
  border-radius: 16px;
}

.main {
  display: grid;
  grid-template-columns: 250px 1fr;
}

@media (max-width: 900px) {
  .main {
    grid-template-columns: 1fr;
  }
}

/* ELEMENTS */

.logo {
  display: flex;
  align-items: center;
  gap: 16px;
}

.logo img {
  width: 68px;
  height: 68px;
}

h1 {
  font-size: 42px;
  color: #57534e;
  line-height: 1;
  margin: 6px;
}

.fact {
  font-size: 20px;
  line-height: 1.4;
  background-color: #57534e;
  color: #fafaf9;
  margin: 16px;
  padding: 16px 24px;

  letter-spacing: 2px;
  border: 4px solid #fafaf9;
  border-radius: 16px;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
}

@media (max-width: 1200px) {
  .fact {
    flex-direction: column;
    align-items: flex-end;
    gap: 12px;
  }
}

.tag {
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Kalam", cursive;
  padding-top: 3px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 100px;
}

ul {
  list-style: none;
}

.source:link,
.source:visited {
  color: #a8a29e;
  text-decoration: none;
  margin-left: 10px;
  transition: 0.3s;
}

.source:hover,
.source:active {
  color: blue;
}

.message {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  margin-top: 24px;
  color: #57534e;
}

/* CATEGORY BUTTON */

.category-list {
  display: inline-block;
}

.btn {
  border: none;
  line-height: 1;
  text-transform: uppercase;
  font-size: 16px;
  padding: 16px 0px 13px;
  background-image: linear-gradient(135deg,
      #3b82f6,
      #16a34a,
      #eab308,
      #f97316,
      #ef4444);
  color: inherit;
  transition: 0.3s;
  cursor: pointer;
}

.btn:hover {
  transform: scale(110%) rotate(-2deg);
}

.btn-large {
  font-size: 20px;
  padding: 20px 32px 17px;
}

.btn-all-categories {
  margin-bottom: 16px;
  width: 100%;
}

.btn-category {
  width: 100%;
  background-image: none;
}

/* FACT FORM */

.category {
  margin-bottom: 16px;
}

.fact-form input,
.fact-form select {
  width: 250px;
  background-color: #78716c;
  border: none;
  border-radius: 100px;
  padding: 16px;
  font-size: 16px;
  color: inherit;
  font-family: "Kalam", sans-serif;
}

.fact-form input::placeholder {
  color: #a8a29e;
}

.fact-form input:first-child {
  flex-grow: 1;
}

.fact-form span {
  font-weight: 600;
  font-size: 16;
  margin-right: 18px;
}

@media (max-width: 1000px) {
  body {
    padding: 32px 48px;
  }

  .fact-form {
    flex-direction: column;
    align-items: stretch;
  }

  .fact-form input,
  .fact-form select {
    width: auto;
  }
}